#userProfile{
    min-height: 800px;
}

/* ***********MyInternships******************* */
#myinternships{
    min-height: 800px;
    margin: 100px 70px;
}
/* *********** end MyInternships******************* */

/**************** Profile *************************/
 
.fs35 {
  font-size: 35px !important;

}

.mw50 {
  max-width: 50px !important;
}
.mn {
  margin: 0 !important;
}
.mw140 {
  max-width: 140px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}

.mw40 {
  max-width: 40px !important;
}

.p30 {
  padding: 30px !important;
}
.mw150{
max-height: 500px;
max-width: 170px;
height: 100%;
width: 97%;
border-radius: 5px;
float: left;
}

.page-heading {
position: relative;
padding: 30px 40px;
margin: -25px -20px 25px;
border-left: 30px solid #ffca3d;
border-right: 30px solid #ffca3d;
border-top: 11px solid  #ffca3d;
background-color: #020b53;
}

.panel {
position: relative;
margin-bottom: 27px;
background-color: #ffffff;
border-radius: 3px;
}
#profile{
margin-top: 78px;
}
.panel .tagsskill{
  background-color: #020b53;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  color: #ffca3d;
  font-weight: 450;
}

.panel-body {
position: relative;
padding: 15px;
border: 1px solid #e2e2e2;
}
.panel-heading {
position: relative;
height: 52px;
line-height: 49px;
letter-spacing: 0.2px;
color: #020c53;
font-size: 15px;
font-weight: 500;
padding: 0 8px;
background: #ffca3d;
border: 1px solid #e2e2e2;
border-top-right-radius: 3px;
border-top-left-radius: 3px;
}

.panel-icon {
padding-left: 5px;

}
.panel-title {
padding-left: 6px;
margin-top: 0;
margin-bottom: 0;
}
.panel-heading .add{
float: right;
font-size: 20px;
cursor: pointer;
}
.panel-title > a {
color: inherit;
}


.media {
color:white;
font-weight: 600;
margin-top: 10px;
}
.pull-right{
float: none !important;
}
.media-left,
.media > .pull-left {
padding-right: 10px;
}
.media-heading {
color: rgba(255, 255, 255, 0.884);
margin-top: 0;
margin-bottom: 5px;
}
.media-links ul{
display: flex;
float: left;
flex-direction: row;
background-color: white;
border-radius: 10px;
padding: 7px;
width: 200px;
}
.media-links ul li{
margin-right: 9px;
}

.edit-but{
	width:60px;
	height:60px;
	bottom:40px;
  right: 40px;
  margin-top: 170px;
  margin-left:100px;
	background-color: #020C53;
  border-radius:50px;
  border: 0px;
  outline:0px;
	text-align:center;
  z-index: 5;
}
.edit-but:focus{
  outline:0px;
}
.edit-but .fa-edit{
  color:#FFCA3D;
  scale: 2;
}

.confirmdiv{
  text-align: center;
}

.confirmdiv .confirm{
  margin: 12px;
  margin-bottom: 5px;
}
#certificates .panel-body{
  max-height: 400px !important;
  height: 95% !important;
  overflow-y: auto !important;
}

/* #profile .post-wall{
  margin-top: 0px !important;
} */