*{
  margin:0;
  box-sizing: border-box;
  padding:0;
}
body{
  /* background-color: #e6ecf0; */
  background-color: white;
  /* padding: 0 !important; */
}

/* Color Pallete

style 1--
#08ffc8
#fff7f7
#dadada
#204969

style 2--
#ffca3d
#020c53
*/

/********************** Navbar***************** */
.navbar .container{
  max-width: 1320px;
}
.navbar{
  padding:0;
  background-color:#020C53;
}
.navbar .nav-item{
  margin: 10px 10px;
}
.navbar .nav-link,.navbar-brand{
  color:#fff7f7
}

.navbar .navbar-brand,.nav-link:hover{
  color:#dadada;
}

.navbar .navbar-brand{
  margin-right: 40px;
  font-size: 22px;
}
.navbar input:focus{
  /* border:none; */
  box-shadow: none;
}
.navbar .navbar-brand .logo{
  height: 40px;
  width: 130px;
}
.btn:focus{
  outline:none !important;
  box-shadow: none !important;
}

/* *************Landing Page***************/
.sections{
  display: flex;
}
.sections .leftSection{
  width: 50%;
  flex: 50%;
  background-color: #020C53;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
.sections .leftSection .bigLogo{
  margin: 0 auto;
  max-width: 450px;
  width: 90%;
  max-height: 175px;
  height:85%;

}
.sections .rightSection{
  width: 50%;
  flex: 50%;
  background-color: #FFCA3D;
  height: 100vh;
}
.sections .rightSection .nav{
  padding: 20px;
}
.sections .rightSection .nav .nav-link{
  color: black;
  margin: 0 20px;
}
.sections .rightSection .content{
  padding: 30px 50px;
}

        
            /* *******************************Auth From ********************* */
.sections .rightSection .content .authForm{
  top:50%;
  border: #020C53 8px solid;  
  padding: 20px;
  box-shadow: #020C53 1px 2px 2px ;
}
.sections .rightSection .content .authForm .heading{
  font-size: 32px;
  display: inline-block;
  padding:10px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
  font-weight: 700;
}
.sections .rightSection .content .authForm select option{
  background: #020C53;
  color: #FFCA3D;
}
.sections .rightSection .content .authForm .button{
  background-color: #020C53;
  color: #FFCA3D;
  margin: 0 auto !important;
}
.sections .rightSection .content .authForm .submit{
  text-align: center;
}
.sections .rightSection .content .authForm .button:hover{
  color: #ffcb3dda;
}
/* ***************************-Home page******************* */

/* .homePage .carousel-home .carousel .carousel-item img{
  max-height: 500px !important;
} */
.homePage{
  margin-top: 48.75px;
}

.homePage .d-block{
  height: 400px;
  width: 100%;
  margin:auto;
}
/* */
.carousel{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.float-bx{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right: 40px;
	background-color: #020C53;
	color:#FFF;
  border-radius:50px;
  border: 2px solid #FFCA3D;
  outline:0px;
	text-align:center;
	box-shadow: 2px 2px 3px rgb(75, 75, 75);
}
.float-bx:focus{
  outline:0px;
}

/* **************** Internship List ***************/
.homeSection #intershiplist{
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  align-items: center !important;
}

#top-bar.btn-circle.btn-lg {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  font-size: 20px;
  line-height: 1.33;
  display: inline-block;
}

#top-bar .btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  background-color: #020C53;
  color: #FFCA3D;
  display: inline-block;

}
.btn-circle:hover{
  color: #e4bc4ec5;
}
#top-bar{
  padding: 10px;
  padding-top: 20px;
  padding-right: 25px;
  text-align:right;
}
sub{
  margin-left: 15px;
  color: rgb(80, 80, 80);
}
/* **************** End Internship List ***************/


/* **************** card ***************/

.template {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px;
  transition: all 1s;
  background-color: white;
  margin-bottom: 15px;
  /* border: 2px solid #020C53; */
  box-sizing: content-box;

}
.template .top{
  text-align: start;
  /* padding: 5px; */
  display: flex;
  align-items: center;
  justify-items: start;
  background-color: #FFCA3D;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: content-box;

}
.template .topHr{
  padding: 0;
  margin: 0 !important;
  margin-bottom: 15px !important;
}
.template .top img{
  margin:6px 5px;
  padding: 0;
}
.template .top .author{
  font-size: 16px;
  padding: 0;
  margin: 0;
  /* margin-left: ; */
}
.avatar-pro{
  max-height: 40px;
  max-width:40px;
  border-radius: 50%;
  padding: 0px;
  margin:0px;
  float: left;
  margin-left: 5px;
}
.template .container .title{
  background-color: #020C53;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 10px;
}
.card{
  border:none;
}
.template:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.template .badge{
  color: #020C53;
  background-color: #D3D3D3;
}
.template #tags-skill{
  margin-left:10px;
  padding: 0 7px;
}

.template .bottom .btn-circle{
  font-size: 24px !important;
  margin-left: 10px;
}
.template .bottom .btn-circle:hover{
  color: #FFCA3D;
}

.template .bottom .moreInfo{
  font-size: 14px;
  margin-left: 4px;
  padding: 2px 5px;
  background-color: #020C53;
  color: #FFCA3D;
}
/* **************** End card ***************/

/* **************Page Footer************** */
footer{
  background-color: #020C53;
  margin-top: 50px;
  padding: 10px;
}
footer h4{
  color: #FFCA3D ;
}
footer a{
  color: #FFCA3D;
}
footer .icon-lg{
  float: right;
  font-size: 80px;
  padding: 10px;
}
@media (max-width: 768px){
  .icon-lg {
      font-size: 50px;
  }
}
footer .btn{
  background-color: #FFCA3D;
  color: #020C53;
}

.homePage .modal-dialog{
  overflow: hidden;
}
/* *********Internship Form ************ */
body{
  padding-right: 0px !important;
}