*{
  margin:0;
  box-sizing: border-box;
  padding:0;
}
body{
  /* background-color: #e6ecf0; */
  background-color: white;
}

/* Color Pallete
#08ffc8
#fff7f7
#dadada
#204969 */

/********************** Navbar***************** */
.navbar .container{
  max-width: 1320px;
}
.navbar{
  padding:0;
  background-color:#020C53;
}
.navbar .nav-item{
  margin: 10px 10px;
}
.navbar .nav-link,.navbar-brand{
  color:#fff7f7
}

.navbar .navbar-brand,.nav-link:hover{
  color:#dadada;
}

.navbar .navbar-brand{
  margin-right: 40px;
  font-size: 22px;
}
.navbar input:focus{
  /* border:none; */
  box-shadow: none;
}
.navbar .navbar-brand .logo{
  height: 50px;
  width: 120px;
}
.btn:focus{
  outline:none !important;
  box-shadow: none !important;
}

/* *************Landing Page***************/
.sections{
  display: flex;
}
.sections .leftSection{
  width: 50%;
  flex: 50%;
  background-color: #020C53;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
}
.sections .leftSection .bigLogo{
  margin: 0 auto;
  max-width: 450px;
  width: 90%;
  max-height: 175px;
  height:85%;

}
.sections .rightSection{
  width: 50%;
  flex: 50%;
  background-color: #FFCA3D;
  height: 100vh;
}
.sections .rightSection .nav{
  padding: 20px;
}
.sections .rightSection .nav .nav-link{
  color: black;
  margin: 0 20px;
}
.sections .rightSection .content{
  padding: 30px 50px;
}

        
            /* *******************************Auth From ********************* */
.sections .rightSection .content .authForm{
  top:50%;
  border: #020C53 8px solid;  
  padding: 20px;
  box-shadow: #020C53 1px 2px 2px ;
}
.sections .rightSection .content .authForm .heading{
  font-size: 32px;
  display: inline-block;
  padding:10px;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  position: relative;
  left: 50% !important;
  transform: translateX(-50%);
  font-weight: 700;
}
.sections .rightSection .content .authForm select option{
  background: #020C53;
  color: #FFCA3D;
}
.sections .rightSection .content .authForm .button{
  background-color: #020C53;
  color: #FFCA3D;
  margin: 0 auto !important;
}
.sections .rightSection .content .authForm .submit{
  text-align: center;
}
.sections .rightSection .content .authForm .button:hover{
  color: #ffcb3dda;
}
/* ***************************-Home page******************* */
.homePage .carousel{
  max-height: 100vh;
}
.homePage .carousel-home .carousel .carousel-item img{
  max-height: 500px !important;
}


